<section>
    <h1>{{basic_information.university}}</h1>
    <h2>Summary</h2>
    <dl>
        <dt>Team Captain(s)</dt>
        <dd>{{basic_information.team_captain}} &lt;{{basic_information.tc_email}}&gt;</dd>
        <dt>Coach(es)</dt>
        <dd>{{basic_information.coaches_names}}</dd>
    </dl>
</section>
<section>
    <h2>Competitors</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Student Status</th>
                <th>Beginner</th>
                <th>Alien (Release)</th>
            </tr>
        </thead>
        <tbody>
            {{#competitor-row competitors}}<tr>
                <td>{{name}}</td>
                <td>{{student_status}}</td>
                <td>{{#if beginner}}YES{{/if}}</td>
                <td>{{#if alien}}{{release_from}}{{/if}}</td>
            </tr>{{/competitor-row}}

        </tbody>
    </table>
</section>